name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install pcap
        run: sudo apt-get install libpcap-dev  -y 

      - name: Install
        run: yarn install

      - name: Lint
        run: yarn run lint

      - name: Build
        run: yarn run build